@model List<QuestRooms.Models.QuestRoom>

@{
    ViewBag.Title = "Index";
}

<html>

<head>
    <link type="text/css" rel="stylesheet" href="~/Styles/Style.css" />
</head>

<body>
    @Html.ActionLink("Добавить", "Add", "Admin")  <br>

    @foreach (var room in Model)
    {
        <div class="room_item">
            @Html.ActionLink(@room.Name, "ShowRoom", "Home", new { Id = room.Id }, null) <br>
            @room.Description <br>
            @room.time <br>
            @room.MinGamerCount <br>
            @room.MaxGamerCount <br>
            @room.Address <br>
            @foreach (var phone in room.Phones)
            {
                @phone @:,
            }
            <br>
            @room.Email <br>
            @room.Company <br>
            @room.Raiting <br>
            @room.LevelOfFear <br>
            @room.LevelOfHard <br>
            @room.Logo <br>
            @Html.ActionLink("удалить", "Del", "Admin", new { Id = room.Id }, null)
        </div>
        }
</body>


</html>